body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: normal;
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    &:hover{
        outline: none;
    }
    outline: none;
}
input,select,textarea,span{
    font-size:100%;
}
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{
    overflow-x:hidden;
    background-color: #f0f0f0;
}
